
verde_logo = #00A903
verde_masClaro = #0FFB06


body
	font-size 16px
	
header
	background black	
	.Sponsor
		font-family 'Lobster' cursive;
		font-size 4em
		color verde_logo
		margin-left 2em
		
.Logo
	display inline-block
	margin 0 .5em
	padding 0
.navigation
	margin-top 1.4em
	float right
	overflow hidden
	.list
		list-style none
		padding .4em
		li
			display inline-block
		a
			color white
			text-decoration none
			margin-right 1.4em
			padding: 1em
			border-right 1px solid white
			border-bottom 4px solid transparent
			&:hover
				border-bottom 4px solid verde_logo 
				transition border-bottom .4s linear
		
	
